
.banner{
    max-width: 800px;
    max-height: 400px;
    width: 80vw;
    height: 40vw;
    margin: 3em auto;    
    overflow: hidden;
    box-shadow: 0 0 8px 2px black;
}
.banner ul{
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%; 
}
.window{
    width: 100%;
    height: 100%;
    position: relative;
    animation: move 20s linear infinite;
    display: block;
    margin: 0;
}
.banner img{
    height: 100%;
    display: block;
    margin: 0;
}
@keyframes move{
    0%, 20%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-100%);
    }
    45%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-200%);
    }
    70%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
.banner ul:hover .window, .banner ul:hover li>div{
    animation-play-state: paused;
}
.description{
    position: absolute;
    background: rgba(0,0,0,0.8);
    padding: 1em;
    box-sizing: border-box;
    bottom: -100px;
    animation: rise 5s infinite;
} 
.description p{
    color: white;
    font-family: raleway, sans-serif;
}
.banner #img1:checked ~ ul>.window{

    transform: translateX(0);
}
@keyframes rise{
    0%,20%{
        bottom: -100px;
    }
    20%,75%{
        bottom: 0;
    }
    76%{
        bottom: -100px;
    }
}