*{
    margin: 0;
    padding: 0;
}
/*--------Search and social----------*/
body{
    height: 200vh;
}


/*--------sticky Menu--------*/
.sticky{
    height: 5em;
    background: linear-gradient(135deg, #17e4d9 0%, #4c88ef 100%);
    box-shadow: 0 2px 6px;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top:0em;
    z-index: 5;
}
.logo{
    width: 30%;
    height: 100%;
    margin-left: 2em;
    padding: .25em 0em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.sticky li, .sticky a{
    list-style: none;
    text-decoration: none;
    color: black;
}
.logo img{
    margin: auto;
    height: 80%;
}
.logo a{
    font-size: .9em;
    height: 20%;
    font-family: raleway;
    text-align: center;
}
.menu{
    width: 50%;
    height: 100%;
    position: relative;
}
.menu ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}
.menu ul li{
    width: 100%;
    height: 100%;
    transition: .35s;
}
.menu a{
    color: white;
    transition: color .2s;
    text-align: center;
}
#social{
    width: 20%;
    position: absolute;
    top: 8%;
    right: 5%;
    font-size: 1.8em;
    text-align: center;
    transition: color .2s;
    justify-content: center;
}

#social .ic-facebook:hover{
    color: #3b5998;
    background-image: linear-gradient(#fff, #fff);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 56% 73%;
    
}
#social .ic-instagram:hover{
    background-image: url(../img/ins.png);
    background-repeat: no-repeat;
    background-size: 81%;
    background-position: top;
}
#social .ic-youtube:hover{
    color: #cc181e;
    background-image: linear-gradient(#fff, #fff);
    background-size: 40% 40%;
    background-position: 50% 25%;
    background-repeat: no-repeat;
}
#navigation{
    justify-content: space-between;
    position: absolute;
    bottom: 10%;
    right: 5%;
    font-family: "quicksand", sans-serif;
    font-size: .95em;
    height: 2em;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
#navigation a{
    transition:.2s;
}
#navigation span{
    padding-left: 5px;
}
#navigation a:hover{
    border-bottom: 3px solid rgba(255,255,255,.9);
}
/*-----Responsive-----*/